{% extends 'user/base.html' %}

{% block content %}
<div class="dashboard">
    <h1 style="text-align: center; font-weight: 600;"><b>User Profile</b></h1>
    
    <div style="text-align: center; width: 80%; margin: 0 auto; border: 1px solid #ddd; padding: 20px; border-radius: 5px; margin-bottom: 20px;">
        <div style="margin-bottom: 10px; font-size: 16px; text-align: center;">
            <span style="font-weight: bold;">Citizen ID:</span>
            <span>{{user_id}}</span>
        </div>
        <div style="margin-bottom: 10px; font-size: 16px; text-align: center;">
            <span style="font-weight: bold;">Username:</span>
            <span>{{username}}</span>
        </div>
        <div style="margin-bottom: 10px; font-size: 16px; text-align: center;">
            <span style="font-weight: bold;">Email:</span>
            <span>{{email}}</span>
        </div>
        <div style="margin-bottom: 10px; font-size: 16px; text-align: center;">
            <span style="font-weight: bold;">Name:</span>
            <span>{{name}}</span>
        </div>
        <div style="margin-bottom: 10px; font-size: 16px; text-align: center;">
            <span style="font-weight: bold;">Role:</span>
            <span>{{role}}</span>
        </div>
    </div>
    
</div>
{% endblock %}